{% extends "base.html" %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h1>Blog</h1>
<ul>
{% for blogpost in object_list %}
   <li><a href="{% url 'blog_details' blogpost.id %}">{{ blogpost.title }}</a> - {{ blogpost.user }} <br/>
   {{ blogpost.body_text }}</li>
   <a href="{% url 'update_post' blogpost.pk %}">Edit</a>

{% endfor%}
</ul>
{% endblock %}
   