{% extends "base.html" %}
{% block title %}Edit Blog Post {% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1>Update Post</h1>
<br/><br/>
<div class="container-fluid">
    <div class="mb-3">
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
    </div>
</div>
{% endblock %}